# Demographic Data Analyzer

https://replit.com/@ShefaliDhingra/boilerplate-demographic-data-analyzer-4#demographic_data_analyzer.py

In [2]:
import pandas as pd
import numpy as np

In [39]:
data = pd.read_csv('adult.data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [5]:
pd.Series(data=data['race'].value_counts(),index=data['race'].unique())

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

In [6]:
x=data.groupby('sex').age.mean()
round(x.loc['Male'],1)

39.4

What is the percentage of people who have a Bachelor's degree?

In [7]:
x=data['education'].value_counts(normalize=True)*100
round(x.loc['Bachelors'],1)

16.4

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [65]:
advanced_education = data[data['education'].isin(['Bachelors','Masters','Doctorate'])]
round((advanced_education[advanced_education['salary'] == '>50K']['salary'].count()/len(advanced_education)*100),1)
#req val/total val*100=%

46.5

What percentage of people without advanced education make more than 50K?

In [66]:
not_advanced_education= data[~data['education'].isin(['Bachelors','Masters','Doctorate'])]
round((not_advanced_education[not_advanced_education['salary'] == '>50K']['salary'].count()/len(not_advanced_education)*100),1)

17.4

What is the minimum number of hours a person works per week?

In [70]:
m=data['hours-per-week'].min()
m

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [99]:
round(len(data[(data['salary']=='>50K') & (data['hours-per-week']==m)])/len(data[data['hours-per-week']==m])*100,0)

10.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [169]:
a=data['native-country'][data['salary'] == '>50K'].value_counts()/data['native-country'].value_counts()*100
country=a.idxmax()
value=round(a.max(),1)
print(country,value)

Iran 41.9

Identify the most popular occupation for those who earn >50K in India.

In [179]:
data['occupation'][data['native-country']=='India'][data['salary']=='>50K'].value_counts().idxmax()

'Prof-specialty'